<%- include('../partials/header-index') %>

<div class="container">
    <header class="jumbotron row text-center" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7ObTT_l7fLfLSv9mUQ-2sr_nIEtl6eh25sj3XYJPxoR1vDTnl&usqp=CAU);">
         <h1><i class="fa fa-futbol-o" aria-hidden="true"></i>  General competitions</h1>
        <h3>Time to follow your passion</h3>
        <p>
            <a class="newEvent btn btn-primary btn-lg" href="/general/new">Add new event</a>	
        </p>
    </header>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-1 col-md-1 col-sm-1">
            <% events.forEach(function(event){ %>
                <div class="card">
                    <div class="card-header">
                        <h2><%= event.name %> </h2> 
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Hosted by <%= event.venue %></h4>
                        <h4 class="card-text">The event is going to be held on <%= event.date %></h4>
                        <p> <a href="/general/<%= event._id %>" class="detail btn btn-small btn-primary">More details</a> </p>
                     </div>
                </div>
            <% }); %>
            </div>
        </div>
    </div>  
</div>

<%- include('../partials/footer') %>

