<%- include('../../partials/header') %>

<div class="container">
    <header class="jumbotron row text-center">
        <h1>Coding competitions!</h1>
        <p>Keep calm and keep coding</p>
        <p>
            <a class="btn btn-primary btn-lg"   href="/coding/new">Add new event</a>	
        </p>
    </header>

    <div class="container" style="margin-bottom: 3em;">
    <% events.forEach(function(event){ %>
    <div class="card" style="padding: 1em; width: 75em; border: inset; margin: 1em; background-color:  #e3f2fd; text-align: center;">
        <div class="card-header" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
           <h2><%= event.name %> </h2> 
        </div>
        <div class="card-body" style="margin-top: 1em;">
          <h4 class="card-title">Hosted by <%= event.venue %></h4>
          <h4 class="card-text">The event is held on <%= event.date %></h4>
         <p> <a href="#" class="btn btn-small btn-primary">More details</a> </p>
        </div>
    </div>
    <% }); %>
    </div>
    
</div>

<%- include('../../partials/footer') %>

