<%- include('../partials/header-index') %>

<div class="container">
    <header class="jumbotron row text-center" style="background-image: url(https://images.assetsdelivery.com/compings_v2/elenavic/elenavic1902/elenavic190200025.jpg);">
         <h1 style="text-shadow: 2px 2px 4px skyblue; color:#111"><i style="font-size: .8em;" class="fa fa-paint-brush" aria-hidden="true"></i>  Art and Literature competitions</h1>
        <h3 style="text-shadow: 2px 2px 4px skyblue; color:#111">Creativity takes courage</h3>
        <p>
            <a class="newEvent btn btn-primary btn-lg" href="/art/new">Add new event</a>	
        </p>
    </header>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-1 col-md-1 col-sm-1">
            <% events.forEach(function(event){ %>
                <div class="card">
                    <div class="card-header">
                        <h2><%= event.name %> </h2> 
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Hosted by <%= event.venue %></h4>
                        <h4 class="card-text">The event is going to be held on <%= event.date %></h4>
                        <p> <a href="/art/<%= event._id %>" class="detail btn btn-small btn-primary">More details</a> </p>
                     </div>
                </div>
            <% }); %>
            </div>
        </div>
    </div>  
</div>

<%- include('../partials/footer') %>

