<%- include('../partials/header-index') %>

<div class="container">
    <header class="jumbotron row text-center" style="opacity:0.8; background-image: url(https://naldzgraphics.net/wp-content/uploads/2013/02/38-vintage-note-free-musical-repeat-seamless-pattern.jpg);">
         <h1 style="opacity:1; color: white; text-shadow: 2px 2px 8px #000;">Dance and Music competitions</h1>
        <h3 style="opacity:1; color: white; text-shadow: 2px 2px 8px #000;">If the music is good, you dance</h3>
        <p>
            <a class="newEvent btn btn-primary btn-lg" href="/cultural/new">Add new event</a>	
        </p>
    </header>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-1 col-md-1 col-sm-1">
            <% events.forEach(function(event){ %>
                <div class="card">
                    <div class="card-header">
                        <h2><%= event.name %> </h2> 
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Hosted by <%= event.venue %></h4>
                        <h4 class="card-text">The event is going to be held on <%= event.date %></h4>
                        <p> <a href="/cultural/<%= event._id %>" class="detail btn btn-small btn-primary">More details</a> </p>
                     </div>
                </div>
            <% }); %>
            </div>
        </div>
    </div>  
</div>

<%- include('../partials/footer') %>

